---
layout: layout
title: "Posts"
---
{% include JB/setup %}

<section class="content">
  
  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      {% if post.image %}
        <br/>
        <div style="float:left; padding-top:10px; padding-right:20px;">
          <a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ BASE_PATH }}{{ post.image }}" height="100" /></a>
        </div>
      {% endif %}
      {% if post.description %}
        <p>{{ post.description }}</p>
        <br/>
      {% endif %}
      <div style="clear:both;"/>
    </li>
    {% endfor %}
  </ul>

</section>
