---
layout: layout
title: "Our Trip to Japan"
---
{% include JB/setup %}

<section class="content">

  <div style="padding-top:30px" />
  <div style="color: #ff3333; font-size: 13px;">
  We are currently in Hakone where the internet is very slow so we won't be able to
  upload photos to flickr for a while. Sorry!
  </div>

  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }} »</a>
      {% if post.image %}
        <br/>
        <div style="float:left; padding-top:10px; padding-right:20px;">
          <a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ BASE_PATH }}{{ post.image }}" width="200" /></a>
        </div>
      {% endif %}
      {% if post.description %}
        <p>{{ post.description }}</p>
      {% endif %}
      {% if post.flickr %}
        <br/>
        <a class="flickr" href="{{ post.flickr }}"></a>
      {% endif %}
      <div style="clear:both;"/>
    </li>
    {% endfor %}
  </ul>
</section>
